.autocomplete__wrapper {
  position: relative;
}

.autocomplete__input {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  display: none;
}

.autocomplete__input--show-all-values {
  padding: 0.4rem 3.4rem 0.4rem 0.4rem;
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  top: 10rem;
}

.site-content ul.autocomplete__menu {
  background-color: $white;
  border: $border $border-color;
  border-top: 0;
  color: grey;
  margin: 0;
  margin-top: - $gutter-spacing;
  max-height: 34.2rem;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  @include list-unstyled;
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.site-content ul li.autocomplete__option {
  border-bottom: $border $key-line;
  border-width: 0.1rem 0;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 0;
  padding: $gutter-spacing / 4 $gutter-spacing;
  &::before {
    display: none;
  }
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: grey;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: $brand--active;
  border-color: $brand--active;
  color: $white;
  outline: 0;
}

.autocomplete__option--no-results {
  background-color: grey;
  color: grey;
  cursor: not-allowed;
}

.autocomplete__input,
.autocomplete__option {
  line-height: 1.25;
}

.autocomplete__option {
  line-height: 2;
  padding: 0.4rem;
  padding-left: 1.3rem;
}
