/**
 * @file
 * Typography variables.
 *
**/

$font-size-h1-mobile: 2.8rem;
$font-size-h2-mobile: 1.8rem;
$font-size-h3-mobile: 1.4rem;
$font-size-h4-mobile: 1.4rem;

$font-size-h1: 3.2rem;
$font-size-h2: 2.2rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;

$font-size-base: 1.4rem;
$font-size-small: 1.2rem;

$line-height-base: 2.1rem;
$line-height-large: 3.7rem;

$font-family-base: Arial, Helvetica, sans-serif;
