/**
 * @file
 * General component styles.
 *
**/
@import "../utilities/variables";
@import "../utilities/positioning";
@import "../utilities/typography";

.component {
  position: relative;
  margin-bottom: $gutter-spacing;
  display: inline-block;
  width: 100%;

  .form-text,
  .form-textarea,
  .form-email,
  .form-tel,
  select {
    width: 100%;
  }

  .fieldset-wrapper {
    margin: 0;
  }

  .button {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.component__row {
  margin-bottom: $gutter-spacing;
}

.component__text {
  padding: 0 $gutter-spacing $gutter-spacing;
}

.component__link {
  margin-bottom: $gutter-spacing;

  a {
    text-decoration: underline;
  }
}

.component__text--no-heading {
  padding-top: $gutter-spacing;
}

.component--fill-height {
  height: 100%;
}

.component--padded {
  padding: $gutter-spacing;
  padding-bottom: $gutter-spacing / 2;

  // Compensation for an absolutely positioned immediate child of a padded component.
  > .bottom {
    width: calc(100% - #{$gutter-spacing} * 2);
    bottom: 2.6rem;
    left: $gutter-spacing;
  }
}

.component__image {
  overflow: hidden;
  display: block;

  img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: $screen-mobile) {
  .component__image {
    height: 27rem;
  }
}

@media (min-width: $screen-tablet) {
  .site-content .component__cta {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: $gutter-spacing / 2;
  }
  .component__image {
    display: flex;
    position: relative;

    img {
      width: auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: none;
    }
  }
  .component {
    .form-text,
    .form-textarea,
    .form-email,
    .form-tel,
    select {
      width: 90%;
    }
  }
  .component--cta p {
    display: inline;
  }
}

@media (min-width: $screen-full) {
  .component__image {
    display: flex;
    position: relative;
    max-height: none;

    img {
      width: 100%;
      transform: none;
      position: static;
    }
  }
}
